<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Ranker | An advertisement platform </title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./Navstyle.css">

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js" defer></script>
    <script src="../app-min.js" defer></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../hamburgers.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel="stylesheet" href="./college/collegeDetails.css">


    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> -->
</head>

<body>
    <header>
        <div class="nav">

            <div class="logo">CR.</div>
            <div class="links" id="navLinks">
                <ul>
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="#aboutus">
                        <li>About us</li>
                    </a>
                    <a href="/findcolleges">
                        <li id="collageDropDown" onclick="addNavCon('collageDropDown', {expand:false})">Colleges <i
                                class=" fa fa-caret-down" aria-hidden="true"></i>
                        </li>
                    </a>
                    <a href=" #">
                        <li>Exam <i class=" fa fa-caret-down" aria-hidden="true"></i></li>
                    </a>
                    <a href="#contact">
                        <li>Contact</li>
                    </a>
                </ul>
            </div>

            {{#if c_id}}
            <p style=" position:absolute; right:250px;top:5px; font-size:large;font-weight:700; color:#353535">
                {{c_name}}
            </p>
            <a href="/logout?backto=collegeDetails">
                <div style="background-color: rgb(172, 12, 12); color:whitesmoke" class="signBtn">Sign out
                </div>
            </a>
            {{else}}
            <a href="#signin">
                <div id="myBtn" class="signBtn">Sign In</div>
            </a>
            {{/if}}

            <div class="navBarIcon" class="icon" onclick="viewLinks(this, {expand:false})">
                <div class="hamburger hamburger--3dx">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
                <!-- <i class="fa fa-bars"></i> -->
            </div>


            <div class="navContent" id="collegeCon">
                <div title="close" class="closeIcon" onclick="addNavCon('collageDropDown',{expand:true})"><i
                        class="fa fa-close" aria-hidden="true"></i></div>
                <ul>
                    By Degree

                    <li id="engg" onclick="showDegree(this,{expand:false})"><i class="fa fa-caret-right"
                            aria-hidden="true"></i> Engineering
                        <div class="degree">
                            <ul style="margin: 0px 0px 10px 0px;padding: 5px;">
                                <li> B. Tech</li>
                                <li> M. Tech</li>
                                <li> PhD</li>
                                <li> Diploma</li>
                            </ul>
                        </div>
                    </li>

                    <li id="medical" onclick="showDegree(this,{expand:false})"><i class="fa fa-caret-right"
                            aria-hidden="true"></i> Medical
                        <div class="degree">
                            <ul style="margin: 0px 0px 10px 0px;padding: 5px;padding: 5px;">
                                <li> B.Sc</li>
                                <li> M.Sc</li>
                                <li> B.Pharma</li>
                                <li> M.Pharma</li>
                                <li> M.D</li>
                            </ul>
                        </div>
                    </li>

                    <li id="management" onclick="showDegree(this,{expand:false})"><i class="fa fa-caret-right"
                            aria-hidden="true"></i> Management
                        <div class="degree">
                            <ul style="margin: 0px 0px 10px 0px;padding: 5px;padding: 5px;">
                                <li> BBA</li>
                                <li> MBA</li>
                                <li> PGDM</li>
                            </ul>
                        </div>
                    </li>

                    <li id="commerce" onclick="showDegree(this,{expand:false})"> <i class="fa fa-caret-right"
                            aria-hidden="true"></i> Commerce
                        <div class="degree">
                            <ul style="margin: 0px 0px 10px 0px;padding: 5px;padding: 5px;">
                                <li> B.Com</li>
                                <li> M.Com</li>
                                <li> C.A</li>
                                <li> CMA</li>
                            </ul>
                        </div>
                    </li>

                    <li id="art" onclick="showDegree(this,{expand:false})"><i class="fa fa-caret-right"
                            aria-hidden="true"></i> Arts

                        <div class="degree">
                            <ul style="margin: 0px 0px 10px 0px;padding: 5px;padding: 5px;">
                                <li> B.A</li>
                                <li> M.A</li>
                            </ul>
                        </div>
                    </li>


                </ul>

                <ul>
                    By State
                    <a href="">
                        <li>Bangalore</li>
                    </a>
                    <a href="">
                        <li>Delhi</li>
                    </a>
                    <a href="">
                        <li> Chennai</li>
                    </a>
                    <a href="">
                        <li> Kolkata</li>
                    </a>
                    <a href="">
                        <li>Pune</li>
                    </a>
                    <a href="">
                        <li>hydrabad</li>
                    </a>

                    <a href="">
                        <li class="smallLink"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            View
                            all locations
                        </li>
                    </a>
                </ul>

                <ul>
                    By Exam
                    <a href="">
                        <li>GATE</li>
                    </a>
                    <a href="">
                        <li>JEE-MAIN</li>
                    </a>
                    <a href="">
                        <li>JEE_Advance</li>
                    </a>
                    <a href="">
                        <li>WBJEE</li>
                    </a>
                    <a href="">
                        <li>NEET</li>
                    </a>
                    <a href="">
                        <li>COMED-K</li>
                    </a>
                    <a href="">
                        <li>CAT</li>
                    </a>
                    <a href="">
                        <li> UPCSE</li>
                    </a> <a href="">
                        <li> CLAT</li>
                    </a> <a href="">
                        <li class="smallLink"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> View all exams
                        </li>
                    </a>
                </ul>

                <ul>
                    Quick Links
                    <a href="">
                        <li> News </li>
                    </a>
                    <a href="">
                        <li>Articles</li>
                    </a>
                    <a href="">
                        <li>Q&A</li>
                    </a>
                    <a href="">
                        <li>Cutt-Offs </li>
                    </a>
                    <a href="">
                        <li> Previous year papers</li>
                    </a>
                </ul>
            </div>
        </div>

    </header>
    <section class="collegeDetails">

        <div class="headerCD">
            <div class="cover">
                <img src="../assets/images/bg/cd/cover.png" alt="" srcset="">
            </div>
            <div class="displayImage">
                <img src="../assets/images/bg/cd/profile.png" alt="" srcset="">
            </div>

            <div class="text">
                <div class="name"> <a href="#"> Swami Vivekananda Institute of Science and Technology </a>
                    {{#if svist}} <img title="Interested"
                        src="https://img.icons8.com/plasticine/50/000000/bookmark-ribbon.png" />
                    {{else}}
                    <img title="Not-Interested" src="https://img.icons8.com/ios/40/000000/add-bookmark.png" />
                    {{/if}}

                </div>
                <div class="details">
                    <i class="fas fa-map-marker-alt"></i> Kolkata, West Bengal <span>|</span>
                    <img src="../assets/images/icon/fullStar.png">
                    <img src="../assets/images/icon/fullStar.png">
                    <img src="../assets/images/icon/fullStar.png">
                    <img src="../assets/images/icon/fullStar.png">
                    <img src="../assets/images/icon/Emptystart.png">
                    &nbsp; 49 reviews <span>|</span> Type: Private <span>|</span> NAAC Accreditation: B+
                </div>

            </div> <a
                href="/interest?backto=collegeDetails&collegeName=svist&action={{#if svist}}reset{{else}}set{{/if}}">
                <button class="applyButton" {{#if svist}} style="background: seagreen;" {{/if}}> {{#if svist}}
                    Applied {{else}} Apply Now {{/if}} </button> </a>
        </div>
        <div class="bodyCD">
            <p class="headline">Overview</p>
            <p class="OverviewText"> Swami Vivekananda Institute of Science and Technology , a non-profit-making trust
                has been set up to
                promote the technological and professional institution of high standards and to encourage research and
                training activities so that the students, conferred to the degree can not only the professional
                challenges but also all the challenges life has to offer confidently. In this era of economic
                liberalizations, globalizations and technological super advancement our effort is to put quality
                education in the light of Swamiji’s vision of spreading education throughout the society.</p>

            <div class="sisterColleges">
                <p class="heading">Sister Colleges</p>
                <ul>
                    <a href="#">
                        <li>Swami Vivekananda Institute of Management and Computer Science </li>
                    </a>
                    <a href="#">
                        <li>Shree Ramkrishna Institute of Science and Technology</li>
                    </a>

                </ul>
            </div>


            <div class="recentCard">
                <p class="heading">Recent Post</p>
                <ul>
                    <li>Admissions Open for the year 2020 </li>
                    <li>College fest to be held on 5th August</li>
                    <li>College will be remained close for rest of the july</li>
                    <li>COVID-19 Guid for online classes</li>
                    <li>India may open thousands of its colleges and universities in a phased manner and give millions
                        of students in higher educational institutions a choice whether to come to classes or study from
                        home online.</li>
                </ul>
            </div>
            <div class="courses">
                <p class="headling">Course</p>
                <div>
                    <img src="../assets/images/courses/Rectangle 41.png" alt="">
                    <p>Computer Science</p>
                </div>
                <div>
                    <img src="../assets/images/courses/Rectangle 42.png" alt="">
                    <p>Mechanical</p>
                </div>
                <div>
                    <img src="../assets/images/courses/Rectangle 43.png" alt="">
                    <p>Civil</p>
                </div>
                <div>
                    <img src="../assets/images/courses/Rectangle 44.png" alt="">
                    <p>Electrical</p>
                </div>
                <div>
                    <img src="../assets/images/courses/Rectangle 45.png" alt="">
                    <p>Electronics</p>
                </div>
                <div>
                    <img src="../assets/images/courses/Rectangle 46.png" alt="">
                    <p>IT</p>
                </div>
            </div>

            <div class="onlineCourses">
                <p class="headling">Online Courses and Trainings</p>
                <div class="scrollH">
                    <div>
                        <img src="../assets/images/FD/Ellipse 13.png" alt="">
                        <p>Python </br> Programming</p>
                    </div>
                    <div>
                        <img src="../assets/images/FD/Ellipse 14.png" alt="">
                        <p> Data Scienece </br> using python </p>
                    </div>
                    <div>
                        <img src="../assets/images/FD/Ellipse 15.png" alt="">
                        <p>Machine learning </br> using Python </p>
                    </div>
                    <div>
                        <img src="../assets/images/FD/Ellipse 16.png" alt="">
                        <p>Artificial Intelligence </p>
                    </div>
                    <div>
                        <img src="../assets/images/FD/Ellipse 17.png" alt="">
                        <p>Java J2SE <br /> Programming </p>
                    </div>

                </div>
            </div>

            <div class="newsCard">
                <p class="heading">News</p>
                <ul>
                    <li>Admissions Open for the year 2020 </li>
                    <li>College fest to be held on 5th August</li>
                    <li>College will be remained close for rest of the july</li>
                    <li>COVID-19 Guid for online classes</li>
                    <li>India may open thousands of its colleges and universities in a phased manner and give millions
                        of students in higher educational institutions a choice whether to come to classes or study from
                        home online.</li>
                </ul>
            </div>

            <div class="recommend">
                <p class="heading">Recommended Links</p>
                <ul>

                    <a href="">
                        <li>GATE</li>
                    </a>
                    <a href="">
                        <li>JEE-MAIN</li>
                    </a>
                    <a href="">
                        <li>JEE_Advance</li>
                    </a>
                    <a href="">
                        <li>WBJEE</li>
                    </a>
                    <a href="">
                        <li>NEET</li>
                    </a>
                    <a href="">
                        <li>COMED-K</li>
                    </a>
                    <a href="">
                        <li>CAT</li>
                    </a>
                    <a href="">
                        <li> UPCSE</li>
                    </a> <a href="">
                        <a href="">
                            <li>Articles</li>
                        </a>
                        <a href="">
                            <li>Q&A</li>
                        </a>
                        <a href="">
                            <li>Cutt-Offs </li>
                        </a>
                        <a href="">
                            <li> Previous year papers</li>
                        </a>
                </ul>
            </div>

            <div class="facilities">
                <p class="headling">Facilities</p>
                <div>
                    <img src="../assets/images/FD/ant-design_home-filled.png" alt="">
                    <p>Quality Hostel</p>
                </div>
                <div>
                    <img src="../assets/images/FD/ic_sharp-medical-services.png" alt="">
                    <p>Medical Facilities</p>
                </div>
                <div>
                    <img src="../assets/images/FD/entypo_lab-flask.png" alt="">
                    <p>Smart Laborataries</p>
                </div>
                <div>
                    <img src="../assets/images/FD/dashicons_food.png" alt="">
                    <p>Hygenic Canteen</p>
                </div>
                <div>
                    <img src="../assets/images/FD/clarity_library-solid.png" alt="">
                    <p>Library</p>
                </div>
                <div>
                    <img src="../assets/images/FD/mdi_google-classroom.png" alt="">
                    <p>Smart A/c Clsaaroom</p>
                </div>
            </div>

            <div class="placement">
                <p class="headling">Placement</p>
                <div>
                    <img src="../assets/images/FD/Ellipse 7.png" alt="">
                    <p>TCS</p>
                </div>
                <div>
                    <img src="../assets/images/FD/Ellipse 8.png" alt="">
                    <p>Wipro</p>
                </div>
                <div>
                    <img src="../assets/images/FD/Ellipse 9.png" alt="">
                    <p>Amazon</p>
                </div>
                <div>
                    <img src="../assets/images/FD/Ellipse 10.png" alt="">
                    <p>Infosys</p>
                </div>
                <div>
                    <img src="../assets/images/FD/Ellipse 11.png" alt="">
                    <p>IBM</p>
                </div>
                <div>
                    <img src="../assets/images/FD/Ellipse 12.png" alt="">
                    <p>Tech Mahindra</p>
                </div>

            </div>
        </div>



    </section>




    <footer>
        <div class="hero">
            <div class="logo">College Ranker</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et dolor fringilla blandit vivamus ac. </p>
        </div>
        <div class="product">
            <ul>
                <h3>Product</h3>
                <a href="#">
                    <li>Information</li>
                </a>
                <a href="#">
                    <li>Pricing</li>
                </a>
                <a href="#">
                    <li>Services</li>
                </a>
                <a href="#">
                    <li>Reviews</li>
                </a>

            </ul>
        </div>
        <div class="legals">
            <ul>
                <h3>Legals</h3>
                <a href="#">
                    <li>License</li>
                </a>
                <a href="#">
                    <li>Refund policy</li>
                </a>
                <a href="#">
                    <li>Certification</li>
                </a>
            </ul>
        </div>
        <div class="location">
            <h3>Location arrow</h3>
            <div class="map">

            </div>
        </div>
        <div class="copyright1"> Copyright &copy SVIST University</div>

    </footer>


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span onclick="closeMOdal()" class="close">&times;</span>
            <form action="/login?backto=collegeDetails" method="POST">
                <p> Email: </p>
                <input class="modalEmail" required type="email" placeholder="yourname@email.com" name="email" id="">

                <button type="submit" class="modalsigninBtn">Sign In</button>
            </form>
        </div>

    </div>


    {{#if registration}}

    <div id="regModal" class="regModal">

        <div class="regModal-content">
            <p>
            <h2> Please Sign up! </h2>
            </p>
            <span onclick="closeregModal()" id="regclose" class="regclose">&times;</span>
            <form action="/register?backto=collegeDetails" method="POST">
                <p> Full Name: </p>
                <input class="modalEmail" type="text" name="name" id="name" placeholder="your name" required>
                <p> Email: </p>
                <input class="modalEmail" type="email" name="email" id="" value={{email}} readonly>
                <p> Mobile: </p>
                <input class="modalEmail" type="number" name="phone" id="mobile" placeholder="+91"
                    oninput="checkLength(this)" required>
                <p class="error" id="mobileErr"></p>
                <p> Address: </p>
                <textarea class="modalAddress" type="address" name="address" placeholder="Address" required></textarea>


                <button type="submit" id="regSubmit" class="regModalSubmitBtn">Register</button>
            </form>

        </div>

    </div>
    {{/if}}

    <script src="./notiflix/dist/notiflix-aio-2.3.3.min.js"></script>
    <script>
        Notiflix.Notify.Init({
            cssAnimation: true, fontFamily: "Quicksand", useGoogleFont: true, position: "right-bottom"
        });


    </script>
    {{#if loginStatus}}
    <script>
        Notiflix.Notify.Success('Successfully Signed in.');

    </script>

    {{/if}}
    {{!-- for login status --}}
    {{#if doLogin}}
    <script>

        Notiflix.Report.Failure('You have to Sign in first', "College Ranker", 'Sign in', function () {
            document.getElementById('myModal').style.display = "block";
        });

    </script>

    {{/if}}

</body>

</html>